@font-face {
    font-family: 'Commit';
    src: url('./public/commit.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #1c1c1c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Commit', sans-serif;
}

#navbar {
    top: 0;
    left: 0;
    width: 90vw;
    margin: 0 auto;
    padding: 1em 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar h1 {
    font-size: 2em;
    font-weight: 500;
    margin: 0 10px;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar ul li {
    margin: 0 10px;
}

main {
    width: 90vw;
    /* Needs to fill the rest of the height of the screen */
    bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post {
}

.post a {
    background-size: auto 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    padding: 1px 0;
    font-size: 1.5em;
    text-decoration: underline;
}

.post p {
    margin: 1em 0;
}

hr {
    border: none;
    background-image: linear-gradient(
        to right,
        #ff0000,
        #ff7f00,
        #ffff00,
        #00ff00,
        #0000ff,
        #9400d3,
        #ff00ff
    );
    height: 1px;
    margin: 1em 0;
}